@font-face {
    font-family: "Raleway";
    src: url(police/static/Raleway-Black.ttf);
    src: url(police/static/Raleway-BlackItalic.ttf);
    src: url(police/static/Raleway-Bold.ttf);
    src: url(police/static/Raleway-BoldItalic.ttf);
    src: url(police/static/Raleway-ExtraBold.ttf);
    src: url(police/static/Raleway-ExtraBoldItalic.ttf);
    src: url(police/static/Raleway-ExtraLight.ttf);
    src: url(police/static/Raleway-ExtraLightItalic.ttf);
    src: url(police/static/Raleway-Italic.ttf);
    src: url(police/static/Raleway-Light.ttf);
    src: url(police/static/Raleway-LightItalic.ttf);
    src: url(police/static/Raleway-Medium.ttf);
    src: url(police/static/Raleway-MediumItalic.ttf);
    src: url(police/static/Raleway-Regular.ttf);
    src: url(police/static/Raleway-SemiBold.ttf);
    src: url(police/static/Raleway-SemiBoldItalic.ttf);
    src: url(police/static/Raleway-Thin.ttf);
    src: url(police/static/Raleway-ThinItalic.ttf);

}
header
{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
#logo
{
    display: flex;
    flex-direction: row;
    align-items: baseline;
}
#logo img
{
    width: 50%;
    height: 20%;
}
nav ul
{
    list-style-type: none;
    display: flex;
}
nav li
{
    margin-right: 15px;
}
nav a
{
    font-size: 1.3em;
    color: #760001;
    padding-bottom: 3px;
    text-decoration: none;
}