/* @font-face
{
    font-family: "Raleway";
    src: url(./police/static/Raleway-Black.ttf);
    src:url(../police/static/Raleway-BlackItalic.ttf);
    src: url(./police/static/Raleway-Bold.ttf);
    src: url(./police/static/Raleway-BoldItalic.ttf);
    src: url(./police/static/Raleway-ExtraBold.ttf);
    src: url(./police/static/Raleway-ExtraBoldItalic.ttf);
    src: url(./police/static/Raleway-ExtraLight.ttf);
    src: url(./police/static/Raleway-ExtraLightItalic.ttf);
    src: url(./police/static/Raleway-Italic.ttf);
    src: url(./police/static/Raleway-Light.ttf);
    src: url(./police/static/Raleway-LightItalic.ttf);
    src: url(./police/static/Raleway-Medium.ttf);
    src: url(./police/static/Raleway-MediumItalic.ttf);
    src: url(../police/static/Raleway-Regular.ttf);
    src: url(../police/static/Raleway-SemiBold.ttf);
    src: url(./police/static/Raleway-SemiBoldItalic.ttf);
    src: url(./police/static/Raleway-Thin.ttf);
    src: url(./police/static/Raleway-ThinItalic.ttf);
} */
body
{
    font-family: "Raleway", sans-serif;
}
/*header*/
main
{
    margin
    width: 90%;
}
#header .contener
{
    display:flex;
    justify-content: space-between;
    width: 90%;
    margin: auto; 
    margin-top: 2%;
}
.logo
{
    margin-top: 
}
.contener
{
    display: flex;

}

.menu
{
    display: flex;

    
}
a
{
    color: inherit;
    text-decoration: none;
}
nav ul
{
    display: flex
    
    
}
nav li
{
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0 30px 0 30px;
}

.hebergements 
{
    text-align: center;
    color: #0065FC ;
    display: flex;
    border-bottom: 0px solid #0065FC;
    border-top: 3px solid #0065FC;

}
.activitess
{
    text-align: center;
    min-width: 50%;
    margin: auto 0;
}
.intra
{
    display: flex;
    font-weight: bolder;
    color: #0065FC;
}

/*main*/
/*section 1*/
.banniere
{
    display: flex;
    width: 90%;
    margin: auto;
    flex-direction: column;
}
.banniere h1
{
   margin-bottom: 0px;
}
.recherche
{
    display: flex;
}
form.recherche button[type="none"] {
    background: #F2F2F2;
    border: 1px #F2F2F2 solid;
    padding: 5px 15px;
    font-size: 20px;
    border-radius: 15px 0 0 15px;
    padding-top: 7px;
    padding-bottom: 10px;
}

form.recherche button[type="submit"] {
    display: flex;
    background: #0065FC;
    border: 1px #0065FC solid;
    border-radius: 0 15px 15px 0;
    color: #FFF;
    height: 43px;
    padding: 0px 15px;
}
.bouton p
{
    font-weight: bolder;
    font-size: 15px;
}
.filtres
{
    display: flex;
    flex-direction: column;
    padding: 20px 0;
}
.filtres, 
.filtres .list 
{
    display: flex;
    flex-flow: row wrap;
}
.filtres .titre
{
    margin-bottom: 20px;
    padding-top: inherit;
    padding-right: 20px;
}
.filtres .bouton 
{
    display: flex;
    justify-content: space-between;
    border-radius: 200px;
    border: 2px #F2F2F2 solid;
    height: 50px;
    position: relative;
    padding-left: 55px;
    padding-right: 14px;
    margin-right: 20px;
    margin-bottom: 10px;
    transition: transform .2s;
    cursor: pointer;
}


.filtres .bouton:first-child {
    margin-left: 0;
}

.filtres .bouton:last-child {
    margin-right: 0;
}

.filtres .bouton i {
    line-height: 50px;
    color: #0065FC;
    position: absolute;
    width: 50px;
    text-align: center;
    background: #DEEBFF;
    left: -2px;
    border-radius: 100%;
}
.bouton p 
{
    
    display: flex;
}

.info
{
    display: inline-flex;
    flex-wrap: wrap;
    margin-right: 20%;
}
.info i
{
    border: 2px solid #F2F2F2;
    width: 29px;
    line-height: 25px;
    font-size: 14px;
    color: #0065FC;
    text-align: center;
    border-radius: 100%;
    margin-right: 5px;
    height: 29px;
}

/*section 2*/
#hotel
{
    width: 96%;
    margin: auto; 
    display: flex;
    justify-content: space-between;
    /* flex-wrap: wrap; */
    min-height:700px;
}
.centre
{
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    background-color: #F2F2F2;
    border-radius: 2%;
    flex: 65%;
    justify-content: space-between;
    padding:10px;
    margin-right: 20px;
    height: 650px;
}
.containhebergement
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
   
}
.containhebergement .Box
{
    display: flex;
    flex-wrap: wrap;    
    background-color: white;
    padding:2px;
    border-radius: 10px;
    width: 30%;
    height: 30%;  
}
figure{
    margin:0;
}
.containpop
{
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    flex: 35%;
    background: #F2F2F2;
    border-radius: 2%;
    margin-left: 20px;
    height: 650px;
}

.Titre_populaires{
    display: flex;
    width: 100%;
    justify-content: space-between;


}
.figBox{
    display: flex;
    background: white;
    border-radius: 2%;
}
.populaires
{
    display: flex;
    flex-wrap: wrap;
    background-color: #F2F2F2;
    border-radius: 2%;
}
/* .populaires .box
{
    background-color:chartreuse;
    border-radius: 10%;
    margin: 2% 1% 2% 1%;
    margin: auto;
} */
.imgheberg
{
    object-fit: cover;
    width: 100%;
    height: 55%;
    border-radius: 0.8em 0.8em 0em 0em;

}
.imgpop
{
    object-fit: cover;
    width: 50%;
    height: 100%;
    border-radius: 0.8em 0em 0em 0.8em;
}
/* #hotel .centre
{
    
}
#hotel .containpop
{
    flex: 35%;
} */
.colorstar
{
    color: #0065FC;
}
.star
{
    color: #F2F2F2;
}

  /*section 3*/
#Activity 
{	
    width: 96%;
    margin: auto;
}

#Activity .activités 
{
    margin-top: -10%;
	display: grid;
	grid-template-columns: 24% 24% 24% 24%;
	grid-template-rows: 9% 9% 9% 9% 9% 9% 9% 9% 9% 9%;
    grid-column-gap: 1em;
	height: 700px;	
}

#Activity .Box 
{
	margin: 9em 0em 2em -1em;
	max-height: 100%;
	width: 100%;
	border-radius: 1em; 

	
}

#Activity .Box:nth-child(1) 
{
	grid-row-start: 1;
	grid-row-end: 11;
	grid-column-start: 1;
	grid-column-end: 2;
    box-shadow: #F2F2F2 3px 6px ;
}
.imgvieuxport
{
    object-fit: cover;
    width: 100%;
    height: 85%;
    border-radius: 0.8em 0.8em 0em 0em;
}
.imgpom
{
    object-fit: cover;
    width: 100%;
    height: 80%;
    border-radius: 0.8em 0.8em 0em 0em;
}
.imgfrioul
{
    object-fit: cover;
    width: 100%;
    height: 60%;
    border-radius: 0.8em 0.8em 0em 0em;
}
.imggard
{
    object-fit: cover;
    width: 100%;
    height: 68.5%;
    border-radius: 0.8em 0.8em 0em 0em;
}
.imglong
{
    object-fit: cover;
    width: 100%;
    height: 78%;
    border-radius: 0.8em 0.8em 0em 0em;
}
#Activity .Box:nth-child(2) 
{
	grid-row-start: 1;
	grid-row-end: 8;
	grid-column-start: 2;
	grid-column-end: 3;
    box-shadow: #F2F2F2 3px 6px ;
}

#Activity .Box:nth-child(3) 
{
	grid-row-start: 6;
	grid-row-end: 11;	
    grid-column-start: 2;
	grid-column-end: 3;
    box-shadow: #F2F2F2 3px 6px ;	
}

#Activity .Box:nth-child(4) 
{
	grid-row-start: 1;
	grid-row-end: 11;
	grid-column-start: 3;
	grid-column-end: 4;
    box-shadow: #F2F2F2 3px 6px ;
}

#Activity .Box:nth-child(5) 
{
	grid-row-start: 1;
	grid-row-end: 7;
	grid-column-start: 4;
	grid-column-end: 5;	
    box-shadow: #F2F2F2 3px 6px ;
}
#Activity .Box:nth-child(6)  
 {
	grid-row-start: 5;
	grid-row-end: 11;
	grid-column-start: 4;
	grid-column-end: 5;	
    box-shadow: #F2F2F2 3px 6px ;
}




/*footer*/

footer 
{
    background: #F2F2F2;
    display: flex;
    width: 100%;
    margin: auto;
    flex-direction: row;
    justify-content: space-around;


}
footer h4
{
    font-weight: bolder;
    display: flex;
    justify-content: start;

}
footer li
{
    display: flex;
    justify-content: start;
    margin-bottom: 8%;
    margin-top: 2%;
    list-style: none;

}
.footer-items
{
    display: flex;
    flex-direction: column;
    width: 25%;
}
.footer-items li
{
    display: flex;
    margin-left: -13%;
}