body
{
    font-family: "Raleway", sans-serif;

}
/*nav*/
.sizenav
{
    height: auto;
}
.menunav
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.logo
{

    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 7px;
}
.contener
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left:60%;
}
.menu-heberge
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 140px;
    height: 99px;
    border-top:transparent solid 1px;
}
.menu-heberge:hover
{
    border-top: #0065FC solid 1px;
    cursor: pointer;
}
.menu-heberge:hover >a
{
    color: #0065FC;
}
.policemenu
{
    color: black;
    text-decoration: none;
}
.menu-inscript
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 140px;
    height: 99px;
    border-top:transparent solid 1px;
}
.policemenuinscript
{
    color: #0065FC;
    text-decoration: none;
    font-weight: bold;
}
.menu-inscript:hover
{
    color: #0065FC;
    text-decoration: none;
    font-weight: bold;   
}
/*header*/
.titreheaderh1
{
font-weight: bold;
}

.barrerecherche
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    border-radius: 10px;
    border: 0.5px solid #f2f2f2;
}
.rechercheicone
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F2F2F2;
    height: 50px;
    width: 50px;
    border-radius: 10px 0 0 10px;
}
.recherche
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 230px;
    font-size: 18px;
    color: black;
    font-weight: bold;
    border: none;
    padding-left: 20px;
}
.policerechercher
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0065FC;
    height: 50px;
    width: 120px;
    color: white;
    cursor: pointer;
    border-radius: 0 10px 10px 0;
}
.policerechercher:hover
{
    color: #0065fc;
    background-color: #f2f2f2;
}
/*filtres*/
.filtre
{
    display: flex;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 40px;
}
/*.titre
{
    margin-top: 50px;
    margin-bottom: 40px;
}*/
.list1
{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.boutonfiltre
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid #f2f2f2;
    height: 50px;
    border-radius: 30px;
    margin-right: 20px;
}
.boutonfiltre:hover
{
    color: #0065fc;
}
.bouton
{
    display: flex;
    justify-content: center;
    align-items: center;
    border: -2px;
    border-radius: 25px;  
    width: 52px;
    height: 52px; 
    color: #0065fc;
    background-color: #DEEBFF;
}
.bouton:hover
{
    color: white;
    background-color: #0065FC;
}
.titrefiltre
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 0 25px 25px 0;
    font-weight: bold;
}
.info
{
    display: flex;
    align-items: center;
}
.infocolor
{
    color: #0065FC;
}
.logement
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    border:2px solid #f2f2f2;
    border-radius: 25px;
    margin-right: 5px;
}
/*section 2*/
#hebergements
{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.blochebergement
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #f2f2f2;
    padding-left: 20px;
    padding-right: 20px;
    flex: 2;
    height: 650px;
    margin-right: 20px;
    border-radius: 10px;
}
.bloc1
{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.bloc2
{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}
.Box
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: auto;
    background-color: white;
    padding: 1%;
    border-radius: 20px;
}
.imgheberg
{
    background-size: cover;
    background-position: center;
     width: 100%;
     height: 120px;
     border-radius: 15px 15px 0 0;
}
figcaption
{
    width: 90%;
}
/*populaire*/
.blocpopulaire
{
    padding-left: 20px;
    padding-right: 20px;
    flex: 1;
    height: 650px;
    margin-left: 20px;
    border-radius: 10px;
    background-color: #f2f2f2;
}
.titrepopulaire
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.titrepopulaire h2
{
    font-weight: bold;
}
.boitepopulaire
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.boitepopulaire12
{
   display: flex; 
   justify-content: center;
   align-items: center;
   padding-left: 20px;
   padding-right: 20px;
   background-color: white;
   height: auto;
   padding: 1% 0 1% 1%;
   border-radius: 20px;
}
.boitepopulaire3
{
    display: flex; 
    justify-content: center;
    align-items: center;
    background-color: white;
    height: auto;
    padding: 1% 0 1% 1%;
    border-radius: 20px;
}
.imgpop
{
    background-size: cover;
    background-position: center;
     width: 35%;
     height: 160px;
     border-radius: 15px 0 0 15px;
}
  /*section 3*/
#Activity 
{	
    
    width: 98%;
    padding-left: 25px;
}

#Activity .activités 
{
    margin-top: -10%;
	display: grid;
	grid-template-columns: 24% 24% 24% 24%;
	grid-template-rows: 9% 9% 9% 9% 9% 9% 9% 9% 9% 9%;
    grid-column-gap: 1em;
	height: 700px;	
}

#Activity .Box 
{
	margin: 9em 0em 2em -1em;
	max-height: 100%;
	width: 100%;
	border-radius: 1em; 

	
}

#Activity .Box:nth-child(1) 
{
	grid-row-start: 1;
	grid-row-end: 11;
	grid-column-start: 1;
	grid-column-end: 2;
    box-shadow: #F2F2F2 3px 6px ;
}
.imgvieuxport
{
    object-fit: cover;
    width: 100%;
    height: 85%;
    border-radius: 0.8em 0.8em 0em 0em;
}
.imgpom
{
    object-fit: cover;
    width: 100%;
    height: 80%;
    border-radius: 0.8em 0.8em 0em 0em;
}
.imgfrioul
{
    object-fit: cover;
    width: 100%;
    height: 60%;
    border-radius: 0.8em 0.8em 0em 0em;
}
.imggard
{
    object-fit: cover;
    width: 100%;
    height: 68.5%;
    border-radius: 0.8em 0.8em 0em 0em;
}
.imglong
{
    object-fit: cover;
    width: 100%;
    height: 78%;
    border-radius: 0.8em 0.8em 0em 0em;
}
#Activity .Box:nth-child(2) 
{
	grid-row-start: 1;
	grid-row-end: 8;
	grid-column-start: 2;
	grid-column-end: 3;
    box-shadow: #F2F2F2 3px 6px ;
}

#Activity .Box:nth-child(3) 
{
	grid-row-start: 6;
	grid-row-end: 11;	
    grid-column-start: 2;
	grid-column-end: 3;
    box-shadow: #F2F2F2 3px 6px ;	
}

#Activity .Box:nth-child(4) 
{
	grid-row-start: 1;
	grid-row-end: 11;
	grid-column-start: 3;
	grid-column-end: 4;
    box-shadow: #F2F2F2 3px 6px ;
}

#Activity .Box:nth-child(5) 
{
	grid-row-start: 1;
	grid-row-end: 7;
	grid-column-start: 4;
	grid-column-end: 5;	
    box-shadow: #F2F2F2 3px 6px ;
}
#Activity .Box:nth-child(6)  
 {
	grid-row-start: 5;
	grid-row-end: 11;
	grid-column-start: 4;
	grid-column-end: 5;	
    box-shadow: #F2F2F2 3px 6px ;
}




/*footer*/

footer 
{
    background: #F2F2F2;
    display: flex;
    width: 98%;
    margin: auto;
    justify-content: space-around
}